services:
  redis:
    image: redis:latest
    container_name: redis_dev
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
      - redis:/usr/local/etc/redis/redis.conf
    restart: always
    networks:
      - dev

networks:
  dev:
    driver: bridge
    name: network_bridge_dev

volumes:
  redis_data:
    driver: local
    name: redis_data
  redis:
    driver: local
    name: redis
