services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres_dev
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pw123456
    volumes:
      - postgres_db:/var/lib/postgresql
    networks:
      - dev
    ports:
      - 5432:5432
  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - 5431:8080
    depends_on:
      - postgres
    networks:
      - dev

networks:
  dev:
    driver: bridge
    name: network_bridge_dev

volumes:
  postgres_db:
    driver: local
    name: postgres_db