services:
  mysql:
    image: mysql:latest
    container_name: mysql_dev
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: pw123456
    ports:
      - 3306:3306
    volumes:
      - mysql_db:/var/lib/mysql
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    networks:
      - dev

networks:
  dev:
    driver: bridge
    name: network_bridge_dev

volumes:
  mysql_db:
    driver: local
    name: mysql_db